@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf) format('truetype');
    font-display: swap;
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    font-display: swap;
}

body {
    font-family: "Roboto-Regular", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Regular", Arial, sans-serif;
    line-height: 1.3;
    text-align: center;
    padding: 10px;
}

a {
    font-family: "Montserrat-Medium", Arial, sans-serif;
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.6;
}
